<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
          <li><a href="https://wiki.diglib.org/Assessment:Metadata">DLF AIG Metadata Working Group Wiki</a></li>
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
        </ul>
      </div>
    </div>

  </div>

</footer>
