<ul id="nav">
  <li><a href="/">DLF AIG Metadata Working Group Toolkit</a></li>
  <li><a href="/entries/about">About &amp; Contact</a></li>
  <li><a href="/entries/take-part">Participate</a></li>
  <!-- <li><a href="/why.html">Importance of Metadata Assessment</a></li>-->
  <li><a href="/EnvironmentalScan/">Environmental Scan</a></li>
  <li><a href="/Framework">Metadata Assessment Framework</a></li>
  <li><a href="/Tools">Tools for Metadata Assessment</a></li>
  <li><a href="/MetadataSpecsClearinghouse">Metadata Profiles &amp; Mappings Clearinghouse</a></li>
  <!-- <li><a href="/resources.html">Glossary &amp; Resources</a></li> -->
  <li><a href="/entries/collaborations">Collaborations</a></li>
  <li><a href="/entries/contributors">Contributors</a></li>
</ul>
