body{
    font:{
        family: $content;
        weight: $light;
        size: 18px;
    }
    line-height: 1.4;
    background: $white;
    color: $black;
}

.container{
    max-width: 100%;
    position: relative;
    margin: 0 auto;
}

.overview{
    width: 320px;
    font-size: 18px;
    font-family: $biko;
}

.content{
    counter-reset: h1-counter;
    width: calc(100% - 320px);
    position: absolute;
    right: 0;

    @media screen and (max-width: $sidebar-collapse){
        width: 100%;
    }

    #menu {
        font-family: $biko;
    }

    .toggle{
        position: absolute;
        top: 5px;
        left: 5px;
    }
}

section{

    &:last-of-type{
        padding-bottom: 300px;
    }

    > p,
    > ul,
    > ol,
    > div {
        text-align: justify;
        padding-left: 5%;
        padding-right: 5%;
        box-sizing: border-box;
    }

    table {
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;

        > th, td  {
            padding: 10px;
            border: 2px solid #dddddd;
        }
    }

    pre {
        margin-left: 5%;
        margin-right: 5%;
    }
    > ol{
        padding-left: calc(5% + 40px);
    }
}

h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
    font-weight: $bold;
    line-height: 1;
    color: $blue;
    font-family: $biko;
}

h1 {
    font-size: 3.1em;
    padding: 0 0 0;
    text-align: center;
    border-bottom: $blue 6px solid;
    width: 100%;
    line-height: 1;
    margin: 0 0 20px;

    &:before {
        content: counter(h1-counter) " ";
    }
}

.h1{
    counter-increment: h1-counter;
    counter-reset: h2-counter;
    padding-top: 80px;
}

h2 {
    font-size: 2em;
    padding: 30px 0 0;
    width: 90%;
    text-align: center;
    border-bottom: 3px solid $blue;
    margin: 0 auto 20px;
    line-height: 1;

    &:before {
        content: counter(h1-counter) "." counter(h2-counter) " ";
    }
}

.h2{
    counter-increment: h2-counter;
    counter-reset: h3-counter;
    padding-top: 60px;
}


h3{
    font-size: 1.7em;
    padding: 20px 0 0;
    width: 90%;
    text-align: left;
    margin: 0 auto 20px;
    line-height: 1;

    &:before {
        content: counter(h1-counter) "." counter(h2-counter) "." counter(h3-counter) " ";
    }
}

.h3{
    counter-increment: h3-counter;
    counter-reset: h4-counter;
    padding-top: 40px;
}

h4{
    font-size: 1.5em;
    padding: 18px 0 0;
    width: 90%;
    text-align: left;
    margin: 0 auto 18px;
    line-height: 1;

    &:before {
        content: counter(h1-counter) "." counter(h2-counter) "." counter(h3-counter) "." counter(h4-counter) " ";
    }
}

.h4{
    counter-increment: h4-counter;
    counter-reset: h5-counter 1;
    padding-top: 30px;
}


h5{
    font-size: 1.3em;
    padding: 40px 0 0;
    width: 90%;
    text-align: left;
    margin: 0 auto 15px;
    line-height: 1;

    &:before {
        content: counter(h1-counter) "." counter(h2-counter) "." counter(h3-counter) "." counter(h4-counter) "." counter(h5-counter) " ";
    }
}


a{
    transition: .3s all;
    color: $blue;
    text-decoration: none;

    .content &{
        border-bottom: $darkblue 1px solid;
        padding: 0px 2px;

        &:hover{
            border-bottom: transparent 1px solid;
        }
    }

    &:hover{
        color: $darkblue;
    }
}


img{
    display: inline;
    max-width: 100%;
    padding: 10px 0;
    margin: 20px 0;
}

code{
    font-family: 'Source Code Pro', 'Courier New', monospace;
}

.video_container{
    margin: 30px auto;
    @include paddinghack(90%, 894, 510);

    iframe{
        @extend %paddinghack;
    }
}

#intro{
    padding-top: 20px;
}

code,
pre{
    white-space: pre-wrap;
    border-radius: 0px;
    border: 0;
}

iframe{
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    width: 100%;
}

p + p{
    margin-top: 20px;
}
