header{
    height: 35%;
    text-align: center;
    position: relative;
    max-width: 100%;

    span{
        position: absolute;
        width: 60%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
}
