.toggle{
    &:hover{
        cursor: pointer;
        opacity: .8;
    }

    @media screen and (min-width: $sidebar-collapse + 1){
        display: none;
    }
}

// Overview
.overview {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    overflow-y: auto;
    transition: .3s all;
    background: $white;
    border-right: 3px solid $blue;

    @media screen and (max-width: $sidebar-collapse){
        left: -320px;
        transition: .3s all ease;
        transform: translate(0, 0);
        z-index: 100;

        &.open{
            transform: translate(320px, 0);
        }
    }

    .toggle{
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 100;
        font-family: $biko;
    }
    ul {
        list-style: none;
/* Commenting out header numbering        counter-reset: nested-counter; */
        padding-left: 0;
        li {
/* Commenting out header numbering            counter-increment: nested-counter; */
            font-size: 98%;
        }
    }
    #nav {
        width: 100%;
        box-sizing: border-box;
        > li {
            border-bottom: 1px solid rgba($blue, .3);
            a {
                display: block;
                padding: 10px 20px;
                line-height: 1;
                border-bottom: 1px solid rgba($blue, .2);
/*                &:before {
 Commenting out header numbering                    content: counters(nested-counter, ".") " ";
                    font-size: 0;
                } */
                &:hover {
                    background: rgba($blue, .1);
                }
            }
            li {
                a {
                    padding: 8px 30px;
                }
                li {
                    a {
                        padding: 6px 40px;
                    }
                    li {
                        a {
                            padding: 4px 50px;
                        }
                    }
                }
            }
        }
/*        .current {
            > a {
                &:before {
                    font-size: 1em;
                }
            }
        } */
    }
}

.current {
    > a {
        font-weight: $bold;
    }
}
