---
layout: default
---

<dl>
  <dt>URL</dt>
  <dd><a href="{{ page.tutorial_url | replace: "<wbr>", "" }}">{{ page.tutorial_url }}</a></dd>
  <dt>Type</dt>
  <dd>{{ page.type }}</dd>
  <dt>Level</dt>
  <dd>{{ page.level }}</dd>
  <dt>Skill Taught</dt>
  <dd>{{ page.skill_taught }}</dd>
  <dt>Prerequisite</dt>
  <dd>{{ page.prerequisite }}</dd>
  <dt>Creator</dt>
  <dd>{{ page.creator }}</dd>
  <dt>Date Created/Updated</dt>
  <dd>{{ page.date_created_updated }}</dd>
  <dt>Description</dt>
  <dd>{{ page.description }}</dd>
</dl>
